@font-face {
    font-family: "nexa light";
    src: url('nexa light.otf');
}

@font-face {
    font-family: "nexa bold";
    src: url('nexa bold.otf');
}


body { 
  font-size: 110%;
  margin: 0;
  padding: 0;
  font-family: calibri, "open sans", sans-serif;
  background-color: #eeeeee;
  background-color: #fafafa;
}
article.content {
  padding: 3em; 
  padding-top: 2.2em;
  background-color: rgb(249,250,252);
}
article.content, #header-text-wrapper { 
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.header { 
  width: 100%;
  background-color: #202020;
  color: white;
}
p.intro { 
 padding-bottom: 0.8em;
 padding-top: 0.2em;
 font-family: "nexa light", sans-serif; 
 font-size: 110%;
 -webkit-text-stroke: 0.4px;
line-height: 1.4em;
}

.header h1 {
  font-family: "nexa light", sans-serif;
}
h2,h3,p {
  color: #303030;
  margin-top: 1em;
}

h2,h3 {
  -webkit-text-stroke: 1px;
}

h1 { margin: 0 }
h1, h2 { font-family: "nexa bold", sans-serif;  }
h3     { font-family: "nexa light", sans-serif; font-size: 170% }
h2 { margin: 0;}
h2 { font-size: 245%; }
code, pre { 
  font-family: "droid sans mono", "consolas", "inconsolata", "lucida console", "mono"; 
  font-size: 80%; 
  border-radius: 0.3em;
}
pre { margin: 1em }

p.intro a {
 font-family: "nexa light", sans-serif; 
}

a {
  text-decoration: none;
}

a:visited {
  color: #000080;
}

button {
  width: 8em;
  background-color: rgb(0, 30, 109);
  padding: 0.6em;
  border-radius: 5px; 
  color: white;
  border: none;
  font-family: "nexa light";
  margin-bottom: 1em;
}

.cell {
  border-radius: 2px;
}
